<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Information</title>
    <link rel="stylesheet" href="../public/car_upload_style.css">
    <script src="../src/car_upload_index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="top-nav">
        <li><a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a></li>
        <div class="navbar">
            <li class="upload-button"><a href="/car_upload_page">Upload my vehicle</a></li>
            <!-- <li><a href="#">Log-In</a></li> -->
        </div>
    </nav>


    <div class="content">
        <form action="/upload_car" method="POST" action = "/">
            <h1 class="title">Car Information</h1>
            <p class="title2">Pick-Up Info:</p>
            
            <div class="space">
                <label for="parking_street">Pick-Up Address:</label>
                <input type="text" id="parking_street" name="parking_street"><br>
            </div>
            
            <div class="space">
                <label for="parking_city">Pick-Up City:</label>
                <input type="text" id="parking_city" name="parking_city" required><br>
            </div>
            
            <div class="space">
                <label for="parking_state">Pick-Up State:</label>
                <input type="text" id="parking_state" name="parking_state"><br>
            </div>
    
            <div class="space">
                <label for="parking_zip">Pick-up Zipcode:</label>
                <input type="text" id="parking_zip" name="parking_zip"><br>
            </div>
            
            <p class="title2">Vehicle Info:</p>
            <div class="space">
                <label for="car_VIN">Vehicle Identification Number:</label>
                <input type="text" id="car_VIN" name="car_VIN"><br>
            </div>
    
            <div class="space">
                <label for="car_before_1981">Car Before 1981:</label>
                <input type="number" id="car_before_1981" name="car_before_1981"><br>
            </div>
    
            <div class="space">
                <label for="car_year">Year of Model:</label>
                <input type="number" id="car_year" name="car_year" required><br>
            </div>
    
            <div class="space">
                <label for="car_make">Vehicle Brand:</label>
                <input type="text" id="car_make" name="car_make" required><br>
            </div>
    
            <div class="space">
                <label for="car_model">Vehicle Model:</label>
                <input type="text" id="car_model" name="car_model" required><br>
            </div>
            
            <div class="space">
                <label for="car_odometer">Vehicle Odometer:</label>
                <input type="number" id="car_odometer" name="car_odometer"><br>
            </div>
    
            <div class="space">
                <label for="car_transmission">Transmission (Automatic/Manual):</label>
                <input type="text" id="car_transmission" name="car_transmission"><br>
            </div>
    
            <div class="space">
                <label for="car_price_per_day">Renting Price per Day:</label>
                <input type="number" id="car_price_per_day" name="car_price_per_day" required><br>
            </div>
    
            <div class="space">
                <label for="car_info">Car Info:</label>
                <input type="text" id="car_info" name="car_info"><br>
            </div>
    
            <div class="space">
                <label for="car_plate">Vehicle Plate#:</label>
                <input type="text" id="car_plate" name="car_plate"><br>
            </div>
    
            <div class="space">
                <label for="car_class">Vehicle Type (SUV, Sedan, Sports Car, etc.):</label>
                <input type="text" id="car_class" name="car_class"><br>
            </div>
    
            <div class="space">
                <label for="car_fuel_type">Fuel Type:</label>
                <input type="text" id="car_fuel_type" name="car_fuel_type"><br>
            </div>
    
            <div class="space">
                <label for="car_highway_mpg">Highway MPG:</label>
                <input type="number" id="car_highway_mpg" name="car_highway_mpg"><br>
            </div>
            
            <div class="space">
                <label for="car_rating">Car Rating:</label>
                <input type="number" id="car_rating" name="car_rating"><br>
            </div>
    
            <div class="space">
                <label for="car_image">Vehicle Image Link:</label>
                <input type="text" id="car_image" name="car_image"><br>
            </div>
    
            <div class="space">
                <a href="/">
                    <button class="end-button" type="button" id="cancelButton">Cancel</button>
                </a>
                <button class="end-button" type="submit" id="saveButton">Save</button>
            </div>
        </form>
    </div>
    <script src="index.js"></script>
</body>
</html>
