<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <link rel="stylesheet" href="../public/car_upload_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 3000);
    </script>
</head>
<body>
    <nav class="top-nav">
        <li><a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a></li>
        <div class="navbar">
            <li class="upload-button"><a href="/car_upload_page">Upload my vehicle</a></li>
            <!-- <li><a href="#">Log-In</a></li> -->
        </div>
    </nav>
    <div class="message">
    <p class="success top">Payment Successful</p>
    <p class="success">You will be redirected to the main page shortly.</p>
    </div>
    <footer class="footer">
        <a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a>
        <!-- <a href="#"><p class="link">About Us</p></a>
        <a href="#"><p class="link">Frequently Asked Questions</p></a> -->
        <a href="#"><p class="link">Contact Us</p></a>
        <a href="#"><p class="link">Customer Support</p></a>
        <p class="copyright">&copy; 2024 Wheely</p>
    </footer>
</body>
</html>
