<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Success</title>
    <link rel="stylesheet" href="../public/car_upload_style.css">
    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 3000);
    </script>
</head>
<body>
    <nav class="top-nav">
        <li><a href="/"><img class="logo" src="../public/img/logo+name.png" alt="logo"></a></li>
        <div class="navbar">
            <li class="upload-button"><a href="car_upload_page.html">Upload my vehicle</a></li>
            <li><a href="gloria_public/signin.html">Log-In</a></li>
        </div>
    </nav>
    <div class="message">
    <p class="success top">Car data uploaded successfully!</p>
    <p class="success">You will be redirected to the main page shortly.</p>
    </div>
</body>
</html>
