/* main style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}


/* navigation bar style */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #14213D;
}


.top-nav li > a,
.logo {
    color: white;
    list-style-type: none;
    text-decoration: none;
}


.logo {
    font-family: "Kaisei Decol";
    font-size: 3rem;
    padding: 10px 20px;
    height: 60px;
    width: auto;
    
}


.navbar {
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-right: 20px;
}



.navbar p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    padding: 10px;
    display: inline-block;
}

.navbar .upload-button {
    text-decoration: underline;
}

.motto {
    width: 100%;
    height: 37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('../public/img/background3.jpg') center/cover; */
    
}

h1 {
    margin: 0;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}


.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


 /* Artist recommendation card*/
.section-2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


 .column-1,
 .column-2 {
     padding: 1em;
 }


.column-1 {
    flex-basis: 240px;
  }


.column-1 h1 {
    margin: 25px 0 0 90px;
    font-size: 25px;
}
 
.column-2 {
    flex: 1;
    flex-grow: 1;
    margin-bottom: 90px;
}
 
.card {
    flex: 0 0 250px;
    flex-shrink: none;
    flex-grow: none;
    margin: 0.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    position: relative;
    padding-bottom: 6rem;
}

.card p {
    padding: 0.5rem 1rem;
}
 
.card img {
    border-radius: 10px 10px 0 0;
    width: 400px;
    height: 9.5625rem;
    object-fit: cover;
}


.card p.vehicle,
.card p.rate {
    display: inline;
}


.card p.rate {
    position: absolute;
    right: 0;
    font-size: 15px;
}


.card p.location,
.card p.time {
    position: absolute;
    font-size: 18px;
}


.card p.location {
    top: 190px;
}
.card p.time {
    top: 235px;
}


.card p.vehicle{
    font-weight: 600;
    font-size: 25px;
}


.price {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 12px 40px;
    font-size: 23px;
    font-weight: normal;
}


 /* Arrows for column-2 (card)*/

img.arrow {
    height: 30px;
    width: auto;
    margin: auto;
    
}


/* change color of every button when hover */
button:hover {
    background-color: rgb(63, 63, 63);
}


/* Footer style*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #14213D;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 70px;
}


.footer p {
    padding: 5px 60px;
    font-size: 22px;
}

.footer .link {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: underline;
    color: white;
    margin-top: 15px;
}

p.copyright {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}



.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin-top: 40px;
}

.search-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    font-size: 15px;
}

.search-field {
    margin-right: 10px;
    background-color: #F8F8F8;
}

.search-input {
    padding: 10px;
    margin-right: 5px;
    border-radius: 50px;
    border: none;
}
.separator {
    width: 1.5px;
    height: 50px;
    background-color: #ccc;
    margin: 0 27px;
    margin-top: 20px;
}

.search-input[type="date"],
.search-input[type="time"] {
    color: black;
}

.search-button {
    background-color: black;
    color: white;
    padding-left: 23px;
    padding-right: 23px;
    height: 53px;   
    border: none;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

#location {
    width: 210px;
}
.vehicle-icons {
    display: flex;
    justify-content: center;
}
    
.vehicle-icons label {
    display: flex;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
}
    
.vehicle-icons img {
    margin-top: 10px;
    margin-bottom: 12px;
    width: 55px;
    height: auto;
    opacity: 0.4;
    transition: opacity 0.3s;
    margin-right: 17px;
}
    
.vehicle-icons input[type="radio"] {
    display: none;
}
    
.vehicle-icons input[type="radio"]:checked + label img,
.vehicle-icons label:hover img {
    opacity: 1;
}

/* Heart Button for main */
.heart-btn {
    display: none;
}

.heart-btn + .heart-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 25px;
    background-image: url('img/heart-shaped-like.png');
    background-size: 100%;
    cursor: pointer;
}

.heart-btn:checked + .heart-icon {
    background-image: url('img/heart-shaped-like-filled.png');
}

/* heart button for results */
.carousel-slide .heart-btn + .heart-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 25px;
    background-image: url('img/black-line-heart.png');
    background-size: 100%;
    cursor: pointer;
}

.carousel-slide .heart-btn:checked + .heart-icon {
    background-image: url('img/black-line-heart-filled.png');
}

/* Results page card */

/* .carousel-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
} */

/* .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
} */

/* .carousel-prev,
.carousel-next {
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
} */

/* .carousel-prev:focus,
.carousel-next:focus {
    outline: none;
} */
/*  */
/*  */


/* 
.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    position: relative;
    display: flex;
    max-width: 57vw;
    margin-left: 50px; 
    margin-right: 50px;
    margin-bottom: 25px;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.carousel-slide img {
    width: 40%; 
    height: 170px; 
    object-fit: cover;
    flex-shrink: 0; 
    border-radius: 10px 0 0 10px;

}

.carousel-slide .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}



.carousel-slide .price {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px 20px;
    font-size: 23px;
    font-weight: normal;
}

.carousel-slide p.location {
    position: absolute;
    left: 200px;
    top: 38.35px;
}

.carousel-slide p.rate {
    
    left: 50px;
    font-size: 15px;
    top: 40px;
}

.carousel-slide p.vehicle{
    font-weight: 600;
    font-size: 25px;
}

.carousel-slide p {
    padding: 0.5rem 1rem;
}
 */

 /* Results page card */
 .main-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

}

.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    position: relative;
    display: flex;
    max-width: 57vw;
    margin-left: 100px; 
    margin-right: 50px;
    margin-bottom: 25px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    
.carousel-slide img {
     width: 40%; 
    height: 170px; 
    object-fit: cover;
    flex-shrink: 0; 
    border-radius: 10px 0 0 10px;
}

.carousel-slide .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}

.carousel-slide .vehicle {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.carousel-slide .details {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.carousel-slide .rate {
    font-size: 1rem;
    margin-right: 1rem;
}

.carousel-slide .location {
    font-size: 1rem;
    color: #555;
    
}

.carousel-slide .price {
    font-size: 23px;
    font-weight: normal;
    margin: 0.5rem 0 0 auto;
    align-self: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px 20px;
}
.map-container {
    width: 600px;
    height: auto;
    margin-right: 100px;
    margin-bottom: 50px;
}

.google-map {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-section.result { 
    margin-left: 100px;
}

/* Footer style*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #14213D;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 70px;
}


.footer p {
    padding: 5px 60px;
    font-size: 22px;
}

.footer .link {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: underline;
    color: white;
    margin-top: 15px;
}

p.copyright {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
