/* user profile*/
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* navigation bar style */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #14213D;
}


.top-nav li > a,
.logo {
    color: white;
    list-style-type: none;
    text-decoration: none;
}


.logo {
    font-family: "Kaisei Decol";
    font-size: 3rem;
    padding: 10px 20px;
    height: 60px;
    width: auto;  
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-right: 20px;
}

.navbar p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    padding: 10px;
    /*display: inline-block;*/
}

.navbar .menu-button {
    font-size: 20px;
    text-decoration: underline;
    color: white;
}

.navbar .pfp {
    width: 60px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-section {
    background-color: white;
   /* border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    position: relative;
    z-index: 1;*/
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-header img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.profile-header h2 {
    margin-left: 0px;
    font-size: 24px;
}

.profile-header span {
    margin: 5px;
    font-size: 14px;
    color: #6C757D;
}


.profile-header button {
    background-color: #1D2B44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}


.profile-info title {
  font-weight: bold;  
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
}


.profile-info form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 60px;
}
.profile-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    /*color: #6C757D;*/
}

.profile-info input[type="text"], .profile-info input[type="email"], .profile-info input[type="password"] {
    width: calc(100% - 1px);
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #6C757D;

}

.profile-info input[type="file"] {
    display: none;
}

.profile-info .upload-btn {
    background-color: #E0E0E0;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}

.profile-info button {
    background-color: #1D2B44;
    color: white;
    border: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info button.cancel {
    background-color: #E0E0E0;
    color: #1D2B44;
    border: 1px;
    margin-right: 10px;
}